.aboutYap-section {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.img-fluid {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.text-box {
  max-width: 700px;
  padding: 20px;
  margin: auto;
  background-color: white;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-top: 1rem;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 1rem;
}

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  max-height: 80%;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 400px;
}

@media (max-width: 768px) {
  .iframe {
    height: 250px;
  }
}