.Footer {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.Footer h3 {
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(90deg, #0d7292, #0d7292);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-text {
  font-size: 1rem;
  line-height: 1.6;
  color: #ffffff;
}

.flex-column .footer-link {
  color: rgb(255, 255, 255);
  line-height: 20px;
  font-size: 1.1rem;
}

.flex-column .footer-link:hover {
  color: #0d7292;
}

.footer-bottom-text {
  font-size: 1.1rem;
  color: #ffffff;
}

.contact-icons {
  color: #0d7292;
  font-size: 1.4rem;
  line-height: 20px;
}

.social-icons a {
  font-size: 1.8rem;
  color: #ffffff;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #0d7292;
}

@media (max-width: 576px) {
  .Footer h3 {
    font-size: 1.3rem;
  }

  .footer-text {
    font-size: 0.85rem;
  }

  .footer-link {
    font-size: 0.85rem;
  }

  .footer-bottom-text {
    font-size: 0.8rem;
  }

  .social-icons a {
    margin-right: 10px;
  }
}
