.Footer {
  background-color: #343a40; 
  color: #ffffff;
}

.Footer h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.footer-text {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #ffffff;
}

.flex-column .footer-link{
  color: rgb(255, 255, 255);
}

.flex-column .footer-link:hover{
  color: red;
}

.footer-bottom-text {
  font-size: 0.85rem;
  color: #ffffff;
}

.social-icons a {
  font-size: 1.5rem;
  color: #ffffff;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: red;
}

@media (max-width: 576px) {
  .Footer h3 {
    font-size: 1.3rem;
  }

  .footer-text {
    font-size: 0.85rem;
  }

  .footer-link {
    font-size: 0.85rem;
  }

  .footer-bottom-text {
    font-size: 0.8rem;
  }

  .social-icons a {
    margin-right: 10px;
  }
}

