/* Overall container */
.our-team-container {
  /* background-color: #f8f9fa; */
  border-radius: 10px;
  padding: 20px;
  margin-top: 150px;
}

/* Section Heading */
.main-head h1 {
  font-size: 60px;
  font-weight: bold;
  /* color: #333; */
  /* text-transform: uppercase; */
}

.section-subtitle {
  font-size: 1.5rem;
  color: #555;
}

.teamMembers{
  font-size: 60px;
  font-weight: bold;
  color: black;
}

/* Circular layout for celebrities */
.circular-layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.circular-item {
  position: relative;
  width: 230px;
  height: 230px;
  margin: 20px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.circular-item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.circle-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay for names */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.circular-item:hover .overlay {
  opacity: 1;
}

.text {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

/* Team Members Section */
.team-members-section {
  margin-top: 50px;
}

/* Responsiveness */
@media (max-width: 768px) {
  .section-title {
    font-size: 2rem;
  }

  .section-subtitle {
    font-size: 1.25rem;
  }

  .circular-item {
    width: 150px;
    height: 150px;
  }

  .text {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .circular-item {
    width: 120px;
    height: 120px;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .section-subtitle {
    font-size: 1rem;
  }
}
